/********************************************************
*                        字体                           *
********************************************************/
:root {
    --vp-font-family-base: 'PingFang SC', 'Inter var', 'Inter', ui-sans-serif, system-ui,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --vp-font-family-mono: 'Dank Mono', 'SF Mono',
        ui-monospace, SFMono-Regular, Menlo, 'PingFang SC', Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/********************************************************
*                        代码块                         *
********************************************************/
:root {
    --vp-code-line-height: 1.7;
    --vp-code-font-size: 0.92em;

    --vp-code-block-color: rgb(15, 15, 15);
    --vp-code-block-bg: rgb(245, 245, 245);

    --vp-code-line-highlight-color: rgba(232, 252, 243, 0.5);
    --vp-code-line-number-color: rgb(33, 33, 33);

    --vp-code-tab-text-color: var(--vp-c-text-light-2);
    --vp-code-tab-divider: var(--vp-c-divider-dark-2);
    --vp-code-tab-hover-text-color: var(--vp-c-text-light-1);
    --vp-code-tab-active-text-color: var(--vp-c-text-light-1);
    --vp-code-tab-active-bar-color: var(--vp-c-brand);
}

.dark {
    --vp-code-block-color: var(--vp-c-text-dark-1);
    --vp-code-block-bg: var(--vp-c-bg-alt);

    --vp-code-line-highlight-color: rgba(56, 63, 59, 0.5);
    --vp-code-line-number-color: var(--vp-c-text-dark-3);

    --vp-code-tab-text-color: var(--vp-c-text-dark-2);
    --vp-code-tab-bg: var(--vp-code-block-bg);
    --vp-code-tab-divider: var(--vp-c-divider-dark-2);
    --vp-code-tab-hover-text-color: var(--vp-c-text-dark-1);
    --vp-code-tab-active-text-color: var(--vp-c-text-dark-1);
    --vp-code-tab-active-bar-color: var(--vp-c-brand);
}

/********************************************************
*                       <mark>                          *
********************************************************/
mark {
    background-color: inherit;
    color: var(--vp-c-text-1);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--vp-c-brand);
    text-underline-offset: 4px;
}

li mark,
ul mark {
    text-underline-offset: 2px;
}

/********************************************************
*                        滚动条                         *
********************************************************/
::-webkit-scrollbar {
    width: 3px;
    height: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    background-color: #cafcb73f;
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: #2c2f33;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

/********************************************************
*                    Medium Zoom                        *
********************************************************/
.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 21;
}

/********************************************************
*                     Custom Fix                        *
********************************************************/
.dark .vp-doc a,
.dark .vp-doc a>code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
    color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a>code:hover {
    color: var(--vp-c-brand-lightest);
    opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
    transition: color 0.25s;
}